<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="styles.css" rel="stylesheet" id="styles">

    <script src="script.js"></script>
    <script src="styles.js"></script>
    <script src="events.js"></script>
    <script src="custom-event.js"></script>
</head>

<body>
    <div id="app" style="display: block;font-size: large;color: aqua;"></div>

    <button id="btnClick" onclick="">Button</button>

    <input name="address" type="text" value="">

    <div class="popup" id="popup">
        <div class="popup-header">Attention!</div>
    </div>

    <form action="https://ya.ru" method="get" id="yaForm">
        <button type="submit" id="submitForm">Submit</button>
    </form>
</body>

</html>
